{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolocalizacion</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/Geolocalizacion.css' %}" />
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <img src="{% static 'core/img/firma.png' %}" width="50"  alt="Firma sayko">
        </div>
        <a class="navbar-brand" href=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ilustraciones.html">Ilustraciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="diseños.html">Diseños</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="graffitis.html">Graffitis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="portadas.html">Portadas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Identidades.html">Identidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="formulario.html">Formulario</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">API</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="uso_api.html" id="artapi">Art Institute of Chicago API</a>
                  <a class="dropdown-item" href="Geolocalizacion.html" id="geoapi">Geolocalización API</a>
                </div>
              </li>
      
          </ul>
        </div>
        <div>
          <form class="d-inline">
            <a class="btn btn-primary" href="login.html" role="button">Iniciar Sesion</a>         
            <a class="btn btn-primary" href="registrar.html" role="button">Registrarse</a>
          </form>
        </div>
      </nav> 
      
      <div class="container">
        <div id= "titulo">
          <h1>
          Geolocalización
          </h1>
        </div>
        
        <div id="map"></div>

      </div>

    
        
      


    <p></p>
    <footer class="abajo">
    © Wojojojo inc.   -   Sayko Design
    </footer>
    <p></p>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>    

    
    <script src="{% static 'core/js/Geolocalizacion.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"></script>

</body>
</html>