@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
background-color: rgb(93, 193, 185);

}

.dropdown-item{
    color: #000;
}

#titulo{
    font-size: 40px;
    text-align: center;
    color: rgb(207, 52, 118);
    text-shadow: 2px 2px black;
    font-family:fantasy;
    }

    
#titulo2{
    font-size: 60px;
    text-align: center;
    color: rgb(207, 52, 118);
    text-shadow: 2px 2px black;
    font-family:fantasy;
    }
    
#cuadro {
    margin: 10px auto;
}
#cuadro1 {
    margin: 10px auto;
}
#cuadro2 {
    margin: 10px auto;
}
#cuadro3 {
    margin: 10px auto;
}
#cuadro4 {
    margin: 10px auto;
}
#cuadro5 {
    margin: 10px auto;
}

#Detalle1 {
    text-shadow: 0px 0px 3px black;
}

.buscar{
    margin: 10px;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: right;
    position: absolute;
    background: #ffffff;
    padding: 10px;
    height: 40px;
    border-radius: 35px;
}

.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: rgb(207, 52, 118);
    font-size: 10px;
    float: left;
    line-height: 50px;
    transition: .3s;
    width: 40px;
}

.carousel-item img{
    margin: 0 auto;
}

.carousel-caption {
    text-shadow:2px 0px black ;
}

.abajo {
    text-align: center;
    color: rgb(207, 52, 118);
    font-size: 15px;
    text-shadow: 1px 1px black;
}

.descripcion {
    padding: 5px;
    margin: auto;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px  rgb(44, 92, 88);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#peticion {
    color: #000;
}
#add_peticion {
    color: #000;
}
#artapi {
    color: #000;
}
#geoapi {
    color: #000;
}


#fecha {
    padding: 5px;
    margin: auto;
    font-size: 30px;
    color:  rgb(207, 52, 118);
 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cdro1 {
    margin: 10px auto;
}

#cdro2 {
    margin: 10px auto;
}


#cdro3 {
    margin: 10px auto;
}


@media screen and (min-width:380px){
    .buscar:hover > .buscar_texto{
        width: 80px;
    }
}


@media screen and (min-width:768px){
    .buscar:hover > .buscar_texto{
        width: 190px;
    }
}

@media screen and (min-width:1024px){
    .buscar:hover > .buscar_texto{
        width: 200px;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}






a:hover {color:rgb(207, 52, 118);}


.form-register {
    width: 500px;
    background:  rgb(93, 193, 185);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;   
}

